<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>ИТКС Управление качеством Web-приложения</title>
    <link rel="stylesheet" type="text/css" href="/static/style.css">
</head>
<body>
<h1>📊📈</h1>
<h2>Добро пожаловать в ИТКС "Управление качеством Web-приложения"</h2>
    <form action="/submit" method="POST">
        <label for="полнота">Полнота:</label>
        <input type="number" id="полнота" name="полнота"><br><br>
        <label for="корректность">Корректность:</label>
        <input type="number" id="корректность" name="корректность"><br><br>
        <label for="удобство">Удобство:</label>
        <input type="number" id="удобство" name="удобство"><br><br>
        <label for="защищенность">Защищенность:</label>
        <input type="number" id="защищенность" name="защищенность"><br><br>
        <input type="submit" value="Рассчитать">
    </form>
</body>
</html>
