<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>ИТКС Управление качеством Web-приложения</title>
    <link rel="stylesheet" type="text/css" href="/static/style.css">
</head>
<body>
<h1>📊📈</h1>
<h2>Добро пожаловать в ИТКС "Управление качеством Web-приложения"</h2>
    <form action="/submit" method="POST">
        <label for="usability">Используемость по ISO/IEC 25010 (usability):</label>
        <input for="number" id="usability" name="usability"><br><br>
        <label for="usability">Безопасность по ISO/IEC 25010 (safety):</label>
        <input for="number" id="safety" name="safety"><br><br>
        <label for="usability">Гибкость по ISO/IEC 25010 (flexibility):</label>
        <input for="number" id="flexibility" name="flexibility"><br><br>
        <input type="submit" value="Рассчитать">
    </form>
</body>
</html>